<template>
  <div class="app-animaltable">
    <Animaltable/>
  </div>
</template>

<script>
import Animaltable from '@/components/Animaltable.vue';

export default {
  name: 'app-animaltable',
  components: {
    Animaltable
  }
}
</script>
