<template>
  <div>
    <v-app >
      <div>
        <apexchart type="donut" width="400" :options="chartOptions" :series="series"></apexchart>
      </div>
      <v-col
          cols="12"
          class="py-2"
      >
        <v-btn-toggle
          v-model="text"
          tile
          color="deep-purple accent-3"
          group
        >
          <v-btn @click="randomize" value = "全部">
            全部
          </v-btn>
  
          <v-btn @click="randomize">
            哺乳類
          </v-btn>
  
          <v-btn @click="randomize">
            鳥類
          </v-btn>
  
          <v-btn @click="randomize">
            昆蟲
          </v-btn>

          <v-btn @click="randomize">
            魚類
          </v-btn>

          <v-btn @click="randomize">
            兩棲類
          </v-btn>
        </v-btn-toggle>
      </v-col>
    </v-app>
  </div>
</template>

<script>
export default {
  data: () => ({
    text:'全部',
    series: [44, 55, 13, 33, 20],
    chartOptions: {
      chart: {
        width: 380,
        type: 'donut',
      },
      labels:["虛弱", "傷殘", "健康", "普通", "待檢查"],
      dataLabels: {
        enabled: true
      },
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            show: false
          }
        }
      }],
      legend: {
        position: 'right',
        offsetY: 0,
        height: 250,
      }
    },
  }),
  
  methods: {
    randomize: function () {
      this.series = this.series.map(function() {
        return Math.floor(Math.random() * (100 - 1 + 1)) + 1
      })
    }
  }
}
</script>