<template>
  <div id="app">
    <v-app id="app">
      <v-data-table
        :headers="headers"
        :items="this.$store.getters.getAnimaltable"
        sort-by="calories"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar
            flat
          >
            <v-toolbar-title>動物清單</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog
              v-model="dialog"
              max-width="500px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  添加動物
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.name"
                          label="動物名字"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-select
                          :items="species"
                          v-model="editedItem.species"
                          label="物種"
                        ></v-select>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-select
                          :items="gender"
                          v-model="editedItem.gender"
                          label="性別"
                        ></v-select>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          type = number
                          v-model.number="editedItem.age"
                          label="年齡"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-select
                          :items="health"
                          v-model="editedItem.health"
                          label="健康狀況"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
    
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn
            color="primary"
            @click="initialize"
          >
            Reset
          </v-btn>
        </template>
      </v-data-table>
    </v-app>
  </div>
</template>

<script>
import AnimaltableConfig from './AnimaltableConfig.js'

export default {
  data: () => ({
    headers: AnimaltableConfig.headers,
    gender: AnimaltableConfig.gender,
    species: AnimaltableConfig.species,
    health: AnimaltableConfig.health,
    editedIndex: -1,
    dialog: false,
    dialogDelete: false,
    editedItem: {
      name: '',
      species: '',
      gender: '',
      age: 0,
      health: ''
    },
    defaultItem: {
      name: '',
      species: '',
      gender: '',
      age: 0,
      health: ''
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Animal' : 'Edit Animal'
    },
    animalList () {
      return this.$store.getters.getAnimaltable
    },
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
  },


  methods: {

    initialize(){
      this.$store.dispatch('initialize')
    },

    editItem (item) {
      this.editedIndex = this.animalList.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.animalList.indexOf(item)
      confirm('Are you sure you want to delete this animal?') && this.$store.dispatch('delete', index)
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        this.$store.dispatch('edit', { item: this.editedItem, index: this.editedIndex })
      } else {
        this.$store.dispatch('add', this.editedItem)
      }
      this.close()
    },
    deleteItemConfirm () {
      this.items.splice(this.editedIndex, 1)
      this.closeDelete()
    },
    closeDelete () {
      this.dialogDelete = false
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
    },
  },
    
    created () {
    this.$store.dispatch('initialize')
  }
}
</script>

