<template>
  <v-app>
    <v-app-bar 
      app
      absolute
      dark
      prominent
      src="https://picsum.photos/1920/1080?random"
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"
        >
        </v-img>
      </template>
          <v-toolbar-title>動物園管理系統</v-toolbar-title>
          <template v-slot:extension>
            <v-tabs align-with-title>
              <v-tab to="/" text>動物總覽</v-tab>
              <v-tab to="Situation" text>動物狀況</v-tab>
            </v-tabs>
          </template>
    </v-app-bar>
    <v-main app>
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>
